h1{
    color:red; 
}

#heading2{
    color:blue;
}

.heading{
    color:green;
}
.para{
    border:2px;
    border-color:black;
    border-style:solid;
    padding:10px;
    text-align: center;
}
.navbar{
    border:3px;
    border-color:black;
    border-style:solid;
    padding:15px;
    background-color:lightblue;
    text-align: center;
}

.navbar a{
    color:black;
    padding:15px;
    text-decoration:none;
}
.navbar a:hover{
    color:white;
    background-color:lightgreen;
}

body{
    margin : 0;
}
.card{
    border:2px solid black;
    padding: 10px;
    width:200px;
    text-align:center;
    margin:20px auto;
}
.card img{
    width:100%;
}
.card button{
    margin-bottom:20px;
}